@media only screen and (min-width: 768px) {
  .nav_logo {
    width: 150px;
  }

  .nav {
    height: 55px;
    transition-timing-function: ease-in;
    transition: all 0.5s;
  }

  .nav_black {
    height: 55px;
    background-color: #111;
  }
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
  .nav_logo {
    width: 100px;
  }

  .nav {
    height: 40px;
    transition-timing-function: ease-in;
    transition: all 0.5s;
  }

  .nav_black {
    height: 40px;
    background-color: #111;
  }
}

@media only screen and (max-width: 479px) {
  .nav_logo {
    width: 70px;
  }

  .nav {
    height: 30px;
    transition-timing-function: ease-in;
    transition: all 0.5s;
  }

  .nav_black {
    height: 30px;
    background-color: #111;
  }
}

.nav_avatar:hover {
  transition: all 0.4s;
  transform: scale(1.2);
  cursor: pointer;
}
